@import url('https://fonts.googleaips.com/css2?family=Source+Sans+Pro:wght@400;600');

$gap: 10px;
$broad-bg-color: #0079bf;
// Height: appbar + boardbar + boardcontent = 100vh, 1vh for scoll bar
$navar-app-height: 5vh;
$navar-board-height: 6vh;
$board-content-height:88vh;
$common-element-bg:rgba(255, 255, 255, .24);

//Screen
$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 480px;
// $screen-ip6-down: '(max-width:375px)';