@import url('https://fonts.googleaips.com/css2?family=Source+Sans+Pro:wght@400;600');

$gap: 10px;
//color
$app-main-text-color: #333;
$broad-bg-color: #0079bf;
$input-border-column:#0079bf; 
$column-bg-color: #ebecf0;
$common-element-bg:rgba(255, 255, 255, .24);
$alert-danger: #ee5253;
// Height: appbar + boardbar + boardcontent = 99vh, 1vh for scroll bar
$navar-app-height: 5vh;
$navar-board-height: 6vh;
$board-content-height:88vh;


//Screen
$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 480px;
// $screen-ip6-down: '(max-width:375px)';
$column-border-radius: 4px;